p {
font-size: 50px;
font-family: 'メイリオ', "Meiryo", Arial, sans-serif
sans-serif;
color:aliceblue
}



.kasaneru{
  position: relative;
  text-align: center;
}
.img-box img {
  text-align: center;
}
#copyright {
  color: aquamarine;
  float: right;
}